body {
    margin: 0 auto; /* Center the body */
    padding: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    opacity: 1;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

header {
    width: 100%;
    height: 10vh;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    margin: 0 auto; /* Center the header */
}


#menuToggle {
    display: none;
}

#logo {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
}

.links {
    color: black;
    margin: 0 1vh;
    text-decoration: underline;
}

.links:hover {
    cursor: pointer;
}

#title-container {
    display: inline-block;
}

#title {
    font-size: 4.5rem;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(15) 1s forwards,
        cursor .4s step-end infinite alternate;
}

#sub-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    animation: blink 1s infinite;
    font-size: 3rem;
}

section {
    background: transparent;
    min-height: 100vh;
}

/* Floating menu */
#floating-menu {
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    transform: translateY(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.menu-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: transform 0.3s;
    padding: 5px;
}

.menu-item {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.menu-item:hover .menu-icon {
    transform: scale(1.3);
}

/* Tooltip styling */
.menu-item::after {
    content: attr(data-tooltip);
    /* Fetch tooltip text from the data-tooltip attribute */
    background-color: whitesmoke;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(-100%, -50%);
    color: black;
    padding: 10px 20px;
    border-radius: 5em;
    font-size: 1em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

/* Show the tooltip when hovering over the menu item */
.menu-item:hover::after {
    opacity: 1;
}


@media (max-width: 1023px) {
    #title {
        font-size: 3.5rem;
    }

    #sub-title {
        font-size: 2rem;
    }

    #screen-container {
        height: 40vh;
        width: 80%;
    }
}

@media (max-width: 767px) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.937);
        z-index: 100;
        margin: 0 auto; /* Center the header */
    }

    #title {
        font-size: 2.5rem;
    }

    #sub-title {
        font-size: 1rem;
    }

    #screen-container {
        height: 30vh;
        margin-top: 10vh;
        width: 80%;
    }

    #floating-menu {
        display: none;
    }

    #menuToggle {
        display: inline-block;
        cursor: pointer;
    }

    #header-nav {
        position: absolute;
        top: 10vh;
        width: 100%;
        height: 40vh;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #header-nav>nav {
        background: rgba(255, 255, 255, 0.937);
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #header-nav.active {
        display: flex;
    }
}